#header {
	-webkit-transition: color .75s ease-in-out;
	transition: color .75s ease-in-out;
	position: relative;
	top: 0px;
	font-weight: bold;
	letter-spacing: .3rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 35px;
	font-family: 'Montserrat', sans-serif;
	z-index: 10;
}

#subheader {
	margin-bottom: 50px;
	text-align: center;
	transition: color .5s ease-in-out;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 414px) {
	#header {
		font-size: 3.3rem;
	}

	#subheader {
		font-size: 1.8rem;
		margin-bottom: 15px;
	}
}
