#logo {
	position: relative;
	display: block;
	width: 75%;
	max-width: 800px;
	height: auto;
	margin: 0 auto 5px;
}

@media (max-width: 414px) {
	#logo {
		transform: translateX(-10px);
	}
}
