@import 'buttons.css';
@import 'animations.css';
@import 'logo.css';
@import 'colorbox.css';
@import 'header.css';
@import 'interface.css';

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: whitesmoke;
	z-index: 2;
	height: 100%;
	font-size: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-pack: distribute;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-transition: background-color .75s ease-in-out;
	transition: background-color .75s ease-in-out;
}

#cover {
	padding-top: 2vh;
	width: 100vw;
	height: 100vh;
	background-color: whitesmoke;
	transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
	z-index: 99;
	transform: translateY(100vh);
}
