/* 
	todo
	[ ] better classes and ids in html
	[ ] button press design
			- shadow
			- 'click' effect

*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-size: 2rem;
	padding-top: 5vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-ms-flex-pack: distribute;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
}

#header {
	-webkit-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

#subheader {
	margin-bottom: 50px;
	text-align: center;
	transition: color .5s ease-in-out;
}

#statusBox {
	height: 50px;
	width: 100%;
	opacity: 0;
	border: 1px solid rgba(51, 51, 51, 0.1);
	border-radius: 5px;
	text-align: center;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	margin-top: 10px;
	margin-bottom: 10px;
}

#statusText {
	line-height: 50px;
}

button {
	-webkit-transition: background-color .1s ease-in-out;
	transition: background-color .1s ease-in-out;
	/* -webkit-filter: grayscale(75%); */
	/* filter: grayscale(50%); */
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.success,
.error {
	color: white;
}

.success {
	background: mediumseagreen;
}

.error {
	background: crimson;
}

.note {
	background: gold;
}

#btnChangeBG {
	width: 100%;
	margin: 10px auto;
}

#containerLoopBgBtns {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px;
	grid-gap: 10px;
	height: 50px;
	font-size: 1rem;
	margin-bottom: 10px;
}

#containerLoopBgBtns button {
	height: 100%;
	font-size: 2rem;
}

#iptLoopSpeedTime {
	height: 75px;
	width: 100%;
	color: #888;
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#iptLoopSpeedTime::placeholder {
	font-size: 1.5rem;
	line-height: 75px;
	transform: translateY(-15px);
}

#backgroundPlayground {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	background-color: slateblue;
	color: white;
	width: 100%;
	height: 250px;
	transform: scaleX(1);
	border-radius: 5px;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	-webkit-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
	transition: height .5s ease-in-out;
}

#backgroundPlayground:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

#backgroundPlayground:active {
	transform: translateY(-1px);
	box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

#backgroundPlayground h1 {
	font-size: 5rem;
}

#backgroundPlayground p {
	transition: color .2s ease-in-out;
	margin: 0;
	font-size: 3rem;
}
#backgroundPlayground span {
	transition: color .2s ease-in-out;
}

@media (max-width: 414px) {
	body {
		padding-top: 2vh;
	}

	#header {
		font-size: 3rem;
	}

	#subheader {
		font-size: 1.8rem;
		margin-bottom: 25px;
	}

	#backgroundPlayground {
		height: 250px;
		margin-bottom: 0px;
	}
}
